body{
    background-color:rgb(189, 210, 215);
}
.greating{
    display:flex;
    flex-wrap: wrap;
    font-family:Arial, Helvetica, sans-serif;
    justify-content:space-between;
    align-items: center;
    display: inline-block;
    margin-left: 100px;
    border:0px solid black;
    border-radius:20px;
    margin-left:60px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px gray;
}
.para{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-style:italic;
   
} 
.container{
    display:flex;
align-items:center;
flex-wrap: wrap;
    background-color:rgb(189, 210, 215);
    border: 1px black solid;

    padding:50px;
    display:block;
    border-radius:20px;
    box-shadow:gray;
    margin:auto;
}
.view{
    background-color:rgb(189, 210, 215);
    border:0px;
    margin-left: 300px;
    box-shadow: 0 0 10px gray;
    flex-wrap: wrap;
    margin-bottom: 20px;
   border-radius: 5px;
    cursor:pointer;
}
img{
    width:400px; 
    height:200px;
    border-radius:40px;
    margin-right:390px;
    flex-wrap: wrap;
    margin-bottom:20px;
     cursor:pointer;
}
table{
    display:flex;
    justify-content:center;
 border: 3px white;

 margin:20px;
 border-radius:15px;
 box-shadow: 0 0 10px gray;
 padding-left: 50px;
 padding-right: 50px;
 box-shadow: 0 0 10px gray;
flex-wrap: wrap;
}
th, td{
    border:1px black solid;
    border-collapse:collapse;
    padding:10px;
    flex-wrap: wrap;
}
.header2{
    display:flex;
    background-color: 3px rgb(236, 228, 228);
    justify-content:center;
    display:inline-block;
    padding-left: 80px;
     flex-wrap: wrap;
     margin-left: 60px;
     margin-bottom:20px;
}
.sessions{
    display:flex;
    border: 0px rgb(101, 103, 135) solid;
    padding:100px;  
    box-shadow: 0 0 10px gray;
    border-radius:20px;
    flex-wrap: wrap;   
}
.pro{
    display:flex;
    color: rgb(10, 138, 138);
    padding:30px;
    justify-content:space-evenly;
    
    gap:50px;
    border-radius:10px;
    box-shadow: 0 0 10px gray;
    margin:auto;
    flex-wrap: wrap;
     cursor:pointer; 

}
.contactme{
    border: 0px solid black;
    border-radius: 20px;
    padding:30px;
   box-shadow: 0 0 10px gray;
  justify-content: center;
  
  margin:0 auto;
  width:60%;
  flex-wrap: wrap;

}
 
.Form{
   padding:10px;
   width:400px;
   font-size: 20px;
   flex-wrap: wrap;  
    
}
.link{
 display:flex;
 justify-content: space-evenly;
    border: 1px solid white;
   
    border-radius: 30px;
    flex-wrap: wrap;
    margin:35px;
}
.link1{
 
    border:1px solid black;
    box-shadow: 0 0 10px gray;
    border-radius:10px;
    margin:10px;
    color:rgb(7, 64, 100) ;
    padding:15px;
    flex-wrap: wrap;
     cursor:pointer;
}
.submit{
     color:rgb(7, 64, 100) ;
   background-color:rgb(189, 210, 215);
    margin:5px;
    padding:5px;
    border-radius:4px;
    border: none;
    box-shadow: 0 0 10px gray;
    cursor:pointer;
}
footer{
    color:rgb(14, 81, 83);
    text-align: right;
    
}

#pp{
    color:rgb(14, 81, 83);
    
}
#se{
    margin-left: 180px;
}
#fir{
    margin-left: 400px;
}
#zero{
    margin-left: 320px;
}

.sessions:hover{
      background-color:rgb(81, 110, 143);
     transform:scale o.3 ease;
}
table:hover{
   
    background-color:rgb(6, 46, 91);
     transform:scale 0.3 ease;
     color:white;
}
.container:hover{
   
    
     transform:0.3 ease;
}
.contactme:hover{
     transform:0.3 ease;
     background-color: rgb(81, 110, 143);

}
.container:hover{
     background-color:rgb(81, 110, 143);
     transform: 0.3s ease;
}
.view:hover{
    color:white;
    background-color:rgb(7, 64, 100) ;
}
.link1:hover{
    background-color:rgb(6, 46, 91);
    transform: 0.3s ease;
    color:white;
}
.link:hover{
    background-color:rgb(136, 168, 204);
    transform: 0.3s ease;
    color:white;
}
.pro:hover{
    background-color:rgb(136, 168, 204);
    transform: 0.3s ease;
    color:white;
}
.submit:hover{
        color:white;
    background-color:rgb(7, 64, 100) ;
}
@media (max-width:600px){
    #se, #fir, #pp, #zero{
        margin-left:0;
        text-align:center;
    }
    .sessions{
        padding:20px;
        flex-direction: column;
    }
    .pro{
        flex-direction: column;
        gap:20px;
    }
    .link{
        flex-direction: column;
        align-items: center;
    }
    .contactme{
        width:95%;
        padding:15px;
    }
    .Form{
width:100%;
font-size: 16px;
    }
    .link1, .submit{
       width:100%; 
       text-align: center;
    }
    footer{
        text-align: center;
    }
}





